<!-- Header -->
<div class="cabinet-header">
  <h1>Населённый пункт{{ item ? ': ' + item.name : '' }}</h1>
  <div class="cabinet-header__actions">
    <button
      *ngIf="item && item.status === simpleStatus.inactive"
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      color="warn"
      (click)="isRemoveModalOpen = true"
    >
      Удалить
    </button>
  </div>
</div>

<!-- Content -->
<div class="cabinet-content">
  <!-- Error -->
  <app-item-not-found
    *ngIf="(getItemError || !item) && !itemIsFetching"
    title="Населённый пункт исчез"
    description="К сожалению, этот населённый пункт мы не нашли... Возможно, его кто-то разобрал на вторсырьё :)"
  ></app-item-not-found>

  <!-- Content grid -->
  <div
    *ngIf="!getItemError && !updateItemError && !removeItemError"
    class="cabinet-content__grid"
  >
    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <!-- Status -->
        <mat-card class="cabinet-content__status-card">
          <div class="cabinet-content__field">
            <app-item-field-inactive-status
              *ngIf="activeField !== 'status'"
              [content]="simpleStatusStrings[item?.status]"
              [isFetching]="itemIsFetching"
              [color]="simpleStatusColors[item?.status]"
              [useEditButton]="true"
              (editClick)="setActiveField('status')"
            ></app-item-field-inactive-status>

            <div
              *ngIf="activeField === 'status'"
              (clickOutside)="
                removeActiveField('status', (item?.status || '') + '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Статус"
                  [options]="simpleStatusOptions"
                  [control]="form.get('status')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('status').value === (item?.status || '') + ''
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Основная информация</h2>

          <!-- ID -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="ID"
              [content]="item?._id"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'name'"
              label="Название"
              [content]="item?.name"
              [isFetching]="itemIsFetching"
              [useEditButton]="true"
              (editClick)="setActiveField('name')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'name'"
              (clickOutside)="removeActiveField('name', item?.name || '')"
              [delayClickOutsideInit]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Название"
                  [control]="form.get('name')"
                  [errorMessages]="{
                    required: 'Обязательное поле',
                    sameName: 'Новое название должно отличаться'
                  }"
                >
                  <ng-container
                    error
                    *ngIf="form.get('name')?.errors?.alreadyExists"
                  >
                    Такой
                    <a [routerLink]="['../../', 'localities', alreadyExistId]"
                      >населённый пункт</a
                    >
                    уже существует.
                  </ng-container>
                </app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating || form.get('name').value === item?.name
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Divisions -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              label="Подразделения"
              [list]="getItemDivisionsFieldListElements(item?.divisions || [])"
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'divisions']"
              [moreLinkQueryParams]="{
                filter__localities: item?._id || '',
                page: 1 + ''
              }"
              [useAddButton]="true"
              [addLinkArray]="['../../', 'divisions', 'add']"
              [addLinkQueryParams]="{ locality: item?._id || '' }"
            >
            </app-item-field-inactive-list>
          </div>

          <!-- Cars -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              label="Автомобили"
              [list]="getItemCarsFieldListElements(item?.cars || [])"
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'cars']"
              [moreLinkQueryParams]="{
                filter__localities: item?._id || '',
                page: 1 + ''
              }"
              [useAddButton]="true"
              [addLinkArray]="['../../', 'cars', 'add']"
              [addLinkQueryParams]="{ locality: item?._id || '' }"
            >
            </app-item-field-inactive-list>
          </div>

          <!-- Employees -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              label="Сотрудники"
              [list]="getItemEmployeesFieldListElements(item?.employees || [])"
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'employees']"
              [moreLinkQueryParams]="{
                filter__localities: item?._id || '',
                page: 1 + ''
              }"
              [useAddButton]="true"
              [addLinkArray]="['../../', 'employees', 'add']"
              [addLinkQueryParams]="{ locality: item?._id || '' }"
            >
            </app-item-field-inactive-list>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>История</h2>

          <!-- Created At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Создано"
              [content]="item?.createdAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Updated At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Обновлено"
              [content]="item?.updatedAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal
  [isLoading]="itemIsRemoving"
  [isOpen]="isRemoveModalOpen"
  [resolveButtonText]="'Оставить в архиве'"
  [rejectButtonText]="'Удалить'"
  (action)="onRemoveModalAction($event)"
>
  Полностью удалять населённый пункт лучше только в том случае, если вы добавили
  его случайно или по ошибке.
  <br />
  <br />
  Все связанные записи не смогут восстановить населённый пункт автоматически,
  даже если новое называние будет идентично.
</app-modal>

<app-modal
  [isLoading]="itemIsFetching"
  [isOpen]="isDeactivateModalOpen"
  [rejectButtonText]="'Деактивировать'"
  (action)="onDeactivateModalAction($event)"
>
  Связанные подразделения тоже будут деактивированы.
</app-modal>
