<!-- Header -->
<div class="cabinet-header">
  <h1>Заявка</h1>
  <div class="cabinet-header__actions">
    <button
      *ngIf="
        (userEmployee?.role === employeeRole.clientManager &&
          item?.performers.clientManagerAccepted === false &&
          userEmployee?.locality?._id === item?.locality._id) ||
        (userEmployee?.role === employeeRole.driver &&
          item?.performers.driverAccepted === false &&
          item?.performers.driver?._id === userEmployee?._id) ||
        (userEmployee?.role === employeeRole.receivingManager &&
          item?.performers.receivingManagerAccepted === false &&
          item?.performers.receivingManager?._id === userEmployee?._id)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-raised-button
      color="primary"
      (click)="takeToWork()"
    >
      Взять в работу
    </button>

    <button
      *ngIf="
        (userEmployee?.role === employeeRole.clientManager &&
          item?.status === orderStatus.raw &&
          item?.performers.clientManager?._id === userEmployee._id &&
          item?.performers.clientManagerAccepted === true) ||
        ((userEmployee?.role === employeeRole.admin ||
          userEmployee?.role === employeeRole.head) &&
          item?.status === orderStatus.raw)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-raised-button
      color="primary"
      (click)="isProcessFormModalOpen = true"
    >
      Обработать
    </button>

    <button
      *ngIf="
        item?.status === orderStatus.processed &&
        userEmployee?.role === employeeRole.driver &&
        item?.performers.driver._id === userEmployee?._id &&
        item?.performers.driverAccepted === true
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-raised-button
      color="primary"
      (click)="setOrderInTransit()"
    >
      Статус: в пути
    </button>

    <button
      *ngIf="
        item?.status === orderStatus.inTransit &&
        userEmployee?.role === employeeRole.driver &&
        item?.performers.driver._id === userEmployee?._id &&
        item?.performers.driverAccepted === true
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-raised-button
      color="primary"
      (click)="setOrderDelivered()"
    >
      Статус: доставлено
    </button>

    <button
      *ngIf="
        (item?.status === orderStatus.raw ||
          item?.status === orderStatus.processed ||
          item?.status === orderStatus.inTransit ||
          item?.status === orderStatus.packed ||
          item?.status === orderStatus.delivered) &&
        ((userEmployee?.role === employeeRole.clientManager &&
          item?.performers.clientManager?._id === userEmployee._id) ||
          userEmployee?.role === employeeRole.receivingManager ||
          userEmployee?.role === employeeRole.admin ||
          userEmployee?.role === employeeRole.head)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      [class.mat-raised-button]="
        userEmployee?.role === employeeRole.receivingManager ||
        userEmployee?.role === employeeRole.admin ||
        userEmployee?.role === employeeRole.head
      "
      color="primary"
      (click)="goToWeighPage()"
    >
      Взвесить
    </button>

    <button
      *ngIf="
        item?.status === orderStatus.weighed &&
        ((userEmployee?.role === employeeRole.clientManager &&
          item?.performers.clientManager?._id === userEmployee._id) ||
          userEmployee?.role === employeeRole.admin ||
          userEmployee?.role === employeeRole.head)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-raised-button
      color="primary"
      (click)="isCompleteFormModalOpen = true"
    >
      Завершить
    </button>

    <button
      *ngIf="
        item &&
        (userEmployee?.role === employeeRole.clientManager ||
          userEmployee?.role === employeeRole.receivingManager ||
          userEmployee?.role === employeeRole.admin ||
          userEmployee?.role === employeeRole.head ||
          userClient)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      color="primary"
      [routerLink]="['../', 'add']"
      [queryParams]="{
        type: item.type,
        locality: item.locality._id,
        client: userEmployee ? item.client?._id || '' : '',
        offersItems: getters.getOrderOfferItemsArrayString(item),
        offersAmountUnit: item.offers.amountUnit,
        offersAmount: item.offers.amount,
        servicesAmountUnit: item.services.amountUnit,
        servicesAmount: item.services.amount,
        customerContactName: item.customer.contactName,
        customerContactPhone: item.customer.contactPhone,
        customerOrganizationLegalName: item.customer.organizationLegalName,
        customerOrganizationActualName: item.customer.organizationActualName,
        deliveryType: item.delivery._type,
        deliveryCustomerCarNumber: item.delivery.customerCarNumber,
        deliveryHasAssistant: item.delivery.hasAssistant,
        deliveryAddressFromStreet: item.delivery.addressFrom?.street || '',
        deliveryAddressFromHouse: item.delivery.addressFrom?.house || '',
        paymentMethod: item.payment.method,
        paymentMethodData: item.payment.methodData
      }"
    >
      Повторить
    </button>

    <button
      *ngIf="
        ((userEmployee?.role === employeeRole.clientManager &&
          item?.performers.clientManager) ||
          userEmployee?.role === employeeRole.admin ||
          userEmployee?.role === employeeRole.head ||
          userClient) &&
        item?.status !== orderStatus.cancelled &&
        item?.status !== orderStatus.refused &&
        item?.status !== orderStatus.completed
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      color="warn"
      (click)="isRefuseFormModalOpen = true"
    >
      Отменить
    </button>
  </div>
</div>

<!-- Content -->
<div class="cabinet-content">
  <!-- Error -->
  <app-item-not-found
    *ngIf="(getItemError || !item) && !itemIsFetching"
    title="Заявка исчезла"
    description="К сожалению, этой заявки мы не нашли... Возможно, оно уже сдала вторсырьё :)"
  ></app-item-not-found>

  <!-- Content grid -->
  <div
    *ngIf="!getItemError && !updateItemError && !removeItemError"
    class="cabinet-content__grid"
  >
    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <!-- Status -->
        <mat-card class="cabinet-content__status-card">
          <div class="cabinet-content__field">
            <app-item-field-inactive-status
              *ngIf="activeField !== 'status'"
              [content]="orderStatusStrings[item?.status]"
              [isFetching]="itemIsFetching"
              [color]="orderStatusColors[item?.status]"
            ></app-item-field-inactive-status>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Основная информация</h2>

          <!-- ID -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="ID"
              [content]="item?._id"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Client ID -->
          <div *ngIf="userEmployee" class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'client'"
              label="Клиент"
              [content]="
                item?.client
                  ? item.client.name + ' (' + item.client._id + ')'
                  : ''
              "
              [isFetching]="itemIsFetching"
              [linkArray]="
                userEmployee.role !== employeeRole.driver
                  ? ['../../', 'clients', item?.client?._id]
                  : undefined
              "
              [useEditButton]="
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed &&
                userType === userTypeEnum.employee &&
                userEmployee?.role !== employeeRole.driver
              "
              (editClick)="setActiveField('client')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'client'"
              (clickOutside)="
                removeActiveField('client', item?.client?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setClient()">
                <app-text-input
                  label="ID клиента"
                  [control]="form.get('client')"
                  [errorMessages]="{
                    notExists: 'Нет такого клиента'
                  }"
                ></app-text-input>
              </form>

              <app-item-field-save-button
                (update)="setClient()"
                [disable]="
                  itemIsUpdating ||
                  form.get('client').value === (item?.client?._id || '')
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Type -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Тип"
              [content]="orderTypeStrings[item?.type]"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Locality -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Населённый пункт"
              [content]="item?.locality?.name"
              [linkArray]="['../../', 'localities', item?.locality?._id]"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <ng-container *ngIf="item?.type === orderType.offer">
            <h2>Вторсырьё</h2>

            <!-- Offers items -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-list
                label="Типы вторсырья"
                [list]="getOffersList()"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-list>
            </div>

            <!-- Offers amount and amount unit -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-string
                label="Количество"
                [content]="getters.getOrderOffersAmount(item)"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>
          </ng-container>

          <ng-container *ngIf="item?.type === orderType.service">
            <h2>Отходы</h2>

            <!-- Services items -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-string
                label="Тип"
                content="Вывоз мусора"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>

            <!-- Services amount and amount unit -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-string
                label="Количество"
                [content]="getServicesAmount()"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>
          </ng-container>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>{{ item?.type === orderType.offer ? 'Доставка' : 'Вывоз' }}</h2>

          <!-- Delivery type -->
          <div
            *ngIf="item?.type === orderType.offer"
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Тип доставки"
              [content]="deliveryTypeStrings[item?.delivery._type]"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Delivery customer car number -->
          <div
            *ngIf="
              item?.type === orderType.offer &&
              item?.delivery._type === deliveryType.pickup
            "
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Номер автомобиля заказчика"
              [content]="item?.delivery.customerCarNumber"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Delivery address -->
          <div
            *ngIf="
              item?.type === orderType.service ||
              item?.delivery._type === deliveryType.company
            "
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Адрес"
              [content]="
                item?.delivery?.addressFrom?.street &&
                item?.delivery?.addressFrom?.house
                  ? item?.delivery.addressFrom.street +
                    ', ' +
                    item?.delivery.addressFrom.house
                  : ''
              "
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Delivery has assistant -->
          <div
            *ngIf="
              item?.type === orderType.service ||
              item?.delivery._type === deliveryType.company
            "
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Помошник"
              [content]="item?.delivery.hasAssistant === true ? 'есть' : 'нет'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Контактные данные</h2>

          <!-- Customer contact name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Контактное лицо"
              [content]="item?.customer?.contactName"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Customer contact name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Контактный телефон"
              [content]="item?.customer?.contactPhone || '' | phone"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Customer organization legal name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Юридическое название компании"
              [content]="item?.customer?.organizationLegalName"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Customer organization actual name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Фактическое название компании"
              [content]="item?.customer?.organizationActualName"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>

      <div
        class="cabinet-content__grid-item"
        [class.cabinet-content__grid-item_inactive]="
          !(item?.payment?.method || item?.payment?.method === 0)
        "
      >
        <mat-card>
          <h2>
            {{ item?.type === orderType.offer ? 'Вознаграждение' : 'Оплата' }}
          </h2>

          <ng-container
            *ngIf="item?.payment?.method || item?.payment?.method === 0"
          >
            <!-- Payment method -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-string
                label="Способ оплаты"
                [content]="paymentMethodStrings[item?.payment?.method]"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>

            <!-- Payment method data -->
            <div
              *ngIf="item?.type === orderType.offer"
              class="cabinet-content__field"
            >
              <app-item-field-inactive-string
                label="Данные для оплаты"
                [content]="item?.payment?.methodData"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>

            <!-- Weighed total amount -->
            <div
              class="cabinet-content__field"
              *ngIf="item?.weighed?.paymentAmount !== undefined"
            >
              <app-item-field-inactive-string
                [content]="'Итого: ' + item?.weighed.paymentAmount + ' руб.'"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </div>

    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Исполнители</h2>

          <!-- Division -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'division'"
              label="Подразделение"
              [content]="item?.division?.name"
              [linkArray]="['../../', 'divisions', item?.division?._id]"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin ||
                  userEmployee?.role === employeeRole.clientManager) &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed
              "
              (editClick)="setActiveField('division')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'division'"
              (clickOutside)="
                removeActiveField('division', item?.division?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setOrderDivision()">
                <app-select
                  label="Подразделение"
                  [control]="form.get('division')"
                  [options]="divisionsOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="setOrderDivision()"
                [disable]="
                  itemIsUpdating ||
                  form.get('division').value === item?.division?._id
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Performers client manager -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'clientManager'"
              label="Менеджер по работе с клиентами"
              [content]="
                item?.performers?.clientManager?.name
                  ? getters.getUserInitials(
                      item?.performers?.clientManager?.name,
                      item?.performers?.clientManager?.surname,
                      item?.performers?.clientManager?.patronymic
                    )
                  : undefined
              "
              [color]="
                item?.performers?.clientManagerAccepted ? 'green' : 'yellow'
              "
              [linkArray]="
                item?.performers?.clientManager
                  ? [
                      '../../',
                      'employees',
                      item?.performers?.clientManager?._id
                    ]
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin) &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed
              "
              (editClick)="setActiveField('clientManager')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'clientManager'"
              (clickOutside)="
                removeActiveField(
                  'clientManager',
                  item?.performers?.clientManager?._id || ''
                )
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setClientManager()">
                <app-select
                  label="Менеджер по работе с клиентами"
                  [control]="form.get('clientManager')"
                  [options]="clientManagersOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="setClientManager()"
                [disable]="
                  itemIsUpdating ||
                  form.get('clientManager').value ===
                    item?.performers?.clientManager?._id ||
                  form.get('clientManager').value === ''
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Performers receiving manager -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'receivingManager'"
              label="Принимающий менеджер"
              [content]="
                item?.performers?.receivingManager?.name
                  ? getters.getUserInitials(
                      item?.performers?.receivingManager?.name,
                      item?.performers?.receivingManager?.surname,
                      item?.performers?.receivingManager?.patronymic
                    )
                  : undefined
              "
              [color]="
                item?.performers?.receivingManager &&
                item?.performers?.receivingManagerAccepted
                  ? 'green'
                  : 'yellow'
              "
              [linkArray]="
                item?.performers?.receivingManager
                  ? [
                      '../../',
                      'employees',
                      item?.performers?.receivingManager?._id
                    ]
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin) &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed
              "
              (editClick)="setActiveField('receivingManager')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'receivingManager'"
              (clickOutside)="
                removeActiveField(
                  'receivingManager',
                  item?.performers?.receivingManager?._id || ''
                )
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setReceivingManager()">
                <app-select
                  label="Принимающий менеджер"
                  [control]="form.get('receivingManager')"
                  [options]="receivingManagersOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="setReceivingManager()"
                [disable]="
                  itemIsUpdating ||
                  form.get('receivingManager').value ===
                    item?.performers?.receivingManager?._id ||
                  form.get('receivingManager').value === ''
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Performers driver -->
          <div
            *ngIf="
              (item?.type === orderType.offer &&
                item?.delivery._type === deliveryType.company) ||
              item?.type === orderType.service
            "
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              *ngIf="activeField !== 'driver'"
              label="Водитель"
              [content]="
                item?.performers?.driver?.name
                  ? getters.getUserInitials(
                      item?.performers?.driver?.name,
                      item?.performers?.driver?.surname,
                      item?.performers?.driver?.patronymic
                    )
                  : undefined
              "
              [color]="
                item?.performers?.driver && item?.performers?.driverAccepted
                  ? 'green'
                  : 'yellow'
              "
              [linkArray]="
                item?.performers?.driver
                  ? ['../../', 'employees', item?.performers?.driver?._id]
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin ||
                  userEmployee?.role === employeeRole.clientManager) &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed
              "
              (editClick)="setActiveField('driver')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'driver'"
              (clickOutside)="
                removeActiveField('driver', item?.performers?.driver?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setDriver()">
                <app-select
                  label="Водитель"
                  [control]="form.get('driver')"
                  [options]="driversOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="setDriver()"
                [disable]="
                  itemIsUpdating ||
                  form.get('driver').value === item?.performers?.driver?._id ||
                  form.get('driver').value === ''
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Performers car -->
          <div
            *ngIf="
              (item?.type === orderType.offer &&
                item?.delivery._type === deliveryType.company) ||
              item?.type === orderType.service
            "
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              *ngIf="activeField !== 'car'"
              label="Автомобиль"
              [content]="
                item?.performers?.car?.licensePlate
                  ? item?.performers?.car?.licensePlate
                  : undefined
              "
              [linkArray]="
                item?.performers?.car
                  ? ['../../', 'cars', item?.performers?.car?._id]
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin ||
                  userEmployee?.role === employeeRole.clientManager) &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed
              "
              (editClick)="setActiveField('car')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'car'"
              (clickOutside)="
                removeActiveField('car', item?.performers?.car?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="setCar()">
                <app-select
                  label="Автомобиль"
                  [control]="form.get('car')"
                  [options]="carsOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="setCar()"
                [disable]="
                  itemIsUpdating ||
                  form.get('car').value === item?.performers?.car?._id ||
                  form.get('car').value === ''
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div
        class="cabinet-content__grid-item"
        [class.cabinet-content__grid-item_inactive]="
          item?.weighed?.paymentAmount === undefined
        "
      >
        <mat-card>
          <div class="cabinet-content__header">
            <h2>Результаты взвешивания</h2>
            <button
              *ngIf="
                item?.weighed?.paymentAmount !== undefined &&
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed &&
                userEmployee &&
                userEmployee?.role !== employeeRole.driver
              "
              mat-icon-button
              [routerLink]="['../', 'weigh', item?._id]"
            >
              <span
                class="icon"
                [inlineSVG]="'../../assets/icons/pencil.svg'"
              ></span>
            </button>
          </div>

          <ng-container *ngIf="item?.weighed?.offers?.length > 0">
            <!-- Weighed offers -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-list
                [list]="getters.getOrderWeighedOffersList(item, offers)"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-list>
            </div>
          </ng-container>

          <ng-container *ngIf="item?.weighed?.services?.length > 0">
            <!-- Weighed services -->
            <div class="cabinet-content__field">
              <app-item-field-inactive-string
                [content]="getters.getOrderWeighedServicesList(item)[0]?.text"
                [isFetching]="itemIsFetching"
              >
              </app-item-field-inactive-string>
            </div>
          </ng-container>

          <!-- Weighed total amount -->
          <div
            class="cabinet-content__field"
            *ngIf="item?.weighed?.paymentAmount !== undefined"
          >
            <app-item-field-inactive-string
              [content]="'Итого: ' + item?.weighed.paymentAmount + ' руб.'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Комментарии</h2>

          <!-- Customer comment -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Комментарий заказчика"
              [content]="item?.customerComment"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Company comment -->
          <div class="cabinet-content__field" *ngIf="userEmployee">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'companyComment'"
              label="Комментарий компании"
              [content]="item?.companyComment"
              [isFetching]="itemIsFetching"
              [useEditButton]="userType === userTypeEnum.employee"
              (editClick)="setActiveField('companyComment')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'companyComment'"
              (clickOutside)="
                removeActiveField('companyComment', item?.companyComment || '')
              "
              [delayClickOutsideInit]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="updateCompanyComment()">
                <app-textarea
                  label="Комментарий компании"
                  [control]="form.get('companyComment')"
                >
                </app-textarea>
              </form>

              <app-item-field-save-button
                (update)="updateCompanyComment()"
                [disable]="
                  itemIsUpdating ||
                  form.get('companyComment').value === item?.companyComment
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Customer cancellation reason -->
          <div
            *ngIf="item?.customerCancellationReason"
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Причина отмены заказа клиентом"
              [content]="item?.customerCancellationReason"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Company cancellation reason -->
          <div
            *ngIf="item?.companyCancellationReason"
            class="cabinet-content__field"
          >
            <app-item-field-inactive-string
              label="Причина отмены заказа сотрудником"
              [content]="item?.companyCancellationReason"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>История</h2>

          <!-- Deadline -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'deadline'"
              label="Дедлайн"
              [content]="item?.deadline | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                item?.status !== orderStatus.refused &&
                item?.status !== orderStatus.cancelled &&
                item?.status !== orderStatus.completed &&
                item?.status !== orderStatus.raw &&
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin ||
                  userEmployee?.role === employeeRole.clientManager)
              "
              (editClick)="setActiveField('deadline')"
            >
            </app-item-field-inactive-string>
            <div
              *ngIf="activeField === 'deadline'"
              (clickOutside)="
                removeActiveField('deadline', item?.deadline || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form
                class="combined-fields"
                *ngIf="form"
                [formGroup]="form"
                (ngSubmit)="updateDeadline()"
              >
                <app-date-input
                  [control]="form?.get('deadlineDate')"
                  fieldId="deadlineDate"
                  [label]="'Дата'"
                  [isRequired]="true"
                  [minDate]="deadlineMinDate"
                  [errorMessages]="{ required: 'Обязательное поле' }"
                ></app-date-input>

                <app-select
                  [control]="form?.get('deadlineTime')"
                  fieldId="deadlineTime"
                  label="Время"
                  [isRequired]="true"
                  [options]="timeOptions"
                  [errorMessages]="{ required: 'Обязательное поле' }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="updateDeadline()"
                [disable]="itemIsUpdating"
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Created At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Создано"
              [content]="item?.createdAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Updated At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Обновлено"
              [content]="item?.updatedAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Status Date Accepted -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Обработано"
              [content]="item?.statusDateAccepted | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Status Date Delivered -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Доставлено"
              [content]="item?.statusDateDelivered | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Status Date Weighed -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Взвешено"
              [content]="item?.statusDateWeighed | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Status Date Completed -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Завершено"
              [content]="item?.statusDateCompleted | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Status Date Refused -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Отменено"
              [content]="item?.statusDateRefused | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-modal
  [isLoading]="itemIsRemoving"
  [isOpen]="isRemoveModalOpen"
  [resolveButtonText]="'Оставить в архиве'"
  [rejectButtonText]="'Удалить'"
  (action)="onRemoveModalAction($event)"
>
  Полностью удалять заявку лучше только в том случае, если вы добавили его
  случайно или по ошибке.
  <br />
  <br />
  Все связанные записи не смогут восстановить сотрудника автоматически, даже
  если все данные будут идентичны.
</app-modal>

<app-modal
  *ngIf="processForm"
  [isLoading]="itemIsUpdating"
  [isOpen]="isProcessFormModalOpen"
  [resolveButtonText]="'Обработать'"
  title="Обработать заявку"
  (action)="onProcessOrderModalAction($event)"
>
  <form
    *ngIf="processForm"
    [formGroup]="processForm"
    (ngSubmit)="processOrder()"
  >
    <!-- Division -->
    <app-select
      fieldId="division"
      *ngIf="
        (this.item?.type === orderType.offer &&
          this.item?.delivery._type === deliveryType.company) ||
        this.item?.type === orderType.service
      "
      [control]="processForm?.get('division')"
      [options]="processFormDivisionsOptions"
      [label]="'Подразделение'"
      [isRequired]="true"
      [errorMessages]="{
        required: 'Обязательное поле'
      }"
    ></app-select>

    <!-- Driver -->
    <app-select
      fieldId="driver"
      *ngIf="
        (this.item?.type === orderType.offer &&
          this.item?.delivery._type === deliveryType.company) ||
        this.item?.type === orderType.service
      "
      [control]="processForm?.get('driver')"
      [options]="processFormDriversOptions"
      [label]="'Водитель'"
      [isRequired]="true"
      [errorMessages]="{
        required: 'Обязательное поле'
      }"
    ></app-select>

    <!-- Cars -->
    <app-select
      fieldId="car"
      *ngIf="
        (this.item?.type === orderType.offer &&
          this.item?.delivery._type === deliveryType.company) ||
        this.item?.type === orderType.service
      "
      [control]="processForm?.get('car')"
      [options]="processFormCarsOptions"
      [label]="'Автомобиль'"
      [isRequired]="true"
      [errorMessages]="{
        required: 'Обязательное поле'
      }"
    ></app-select>

    <!-- Deadline -->
    <div class="combined-fields combined-fields_mobile-wrap">
      <app-date-input
        *ngIf="
          (this.item?.type === orderType.offer &&
            this.item?.delivery._type === deliveryType.company) ||
          this.item?.type === orderType.service
        "
        [control]="processForm?.get('deadlineDate')"
        fieldId="deadlineDate"
        [label]="'Дата'"
        [isRequired]="true"
        [minDate]="deadlineMinDate"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-date-input>

      <app-select
        *ngIf="
          (this.item?.type === orderType.offer &&
            this.item?.delivery._type === deliveryType.company) ||
          this.item?.type === orderType.service
        "
        [control]="processForm?.get('deadlineTime')"
        fieldId="deadlineTime"
        label="Время"
        [isRequired]="true"
        [options]="timeOptions"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>
    </div>

    <!-- Comment -->
    <app-textarea
      fieldId="comment"
      *ngIf="processForm?.get('comment')"
      [control]="processForm?.get('comment')"
      [label]="'Комментарий сотрудника'"
    ></app-textarea>

    <button type="submit" [ngStyle]="{ display: 'hidden' }"></button>
  </form>
</app-modal>

<app-modal
  *ngIf="refuseForm"
  [isLoading]="itemIsUpdating"
  [isOpen]="isRefuseFormModalOpen"
  [resolveButtonText]="'Отменить'"
  title="Отменить заявку"
  (action)="onRefuseOrderModalAction($event)"
>
  <form *ngIf="refuseForm" [formGroup]="refuseForm" (ngSubmit)="refuseOrder()">
    <!-- Reason -->
    <app-textarea
      fieldId="reason"
      *ngIf="refuseForm?.get('reason')"
      [control]="refuseForm?.get('reason')"
      [label]="'Пожалуйста, опишите причину отмены'"
    ></app-textarea>

    <button type="submit" [ngStyle]="{ display: 'hidden' }"></button>
  </form>
</app-modal>

<app-modal
  *ngIf="completeForm"
  [isLoading]="itemIsUpdating"
  [isOpen]="isCompleteFormModalOpen"
  [resolveButtonText]="'Завершить'"
  title="Завершить заявку"
  (action)="onCompleteOrderModalAction($event)"
>
  <form
    *ngIf="completeForm"
    [formGroup]="completeForm"
    (ngSubmit)="completeOrder()"
  >
    <ul *ngIf="item?.type === orderType.offer">
      <li *ngFor="let control of item.weighed.offers; let idx = index">
        {{ idx + 1 }}.
        {{ item.weighed.offers[idx].item?.name || '' }}
        - {{ item.weighed.offers[idx].amount || 0 }}
        {{ unitStrings[item.weighed.offers[idx].amountUnit || 0] }}
        ({{
          getters.getOrderOfferCost(
            item.weighed.offers[idx].item?._id,
            item.weighed.offers[idx].amountUnit,
            item.weighed.offers[idx].amount,
            item,
            offers
          )
        }}
        руб.)
      </li>
    </ul>

    <br />
    <!-- Final sum -->
    <app-text-input
      fieldId="finalSum"
      *ngIf="completeForm?.get('finalSum')"
      [control]="completeForm?.get('finalSum')"
      [label]="'Сумма оплаты, руб.'"
      fieldType="number"
    ></app-text-input>

    <small
      >Нажимая кнопку "Завершить", убедитесь, что была произведена
      оплата.</small
    >

    <button type="submit" [ngStyle]="{ display: 'hidden' }"></button>
  </form>
</app-modal>
