@import '../../../styles/variables';

.mat-form-field {
  width: 100%;
  padding-bottom: 16px;

  .icon {
    cursor: pointer;
    fill: $text-color-primary;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: $transition-1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.input-wrapper {
  position: relative;
}

.mat-form-field-underline {
  display: none;
}

.mat-form-field.mat-focused {
  .icon {
    fill: $color-primary;
  }
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding: 0;
}

.mat-form-field-subscript-wrapper {
  position: relative !important;
  margin: 0 !important;
  padding-top: 4px;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding: 0 !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-infix {
  padding: 0 !important;
  border: 0 !important;
}

.mat-hint {
  font-size: $font-size-small;
}

.mat-form-field {
  &.ng-touched.ng-invalid {
    .mat-hint {
      color: $error-color;
    }

    .icon {
      fill: $error-color;
    }
  }
}

/* Input + Textarea */
.mat-form-field-infix {
  input,
  textarea {
    border: 1px solid $text-color-primary;
    border-radius: $border-radius-secondary;
    padding: 12px 14px !important;
    transition: $transition-1;
  }
  textarea {
    resize: none !important;
  }
}
.mat-form-field {
  &.ng-touched.ng-invalid {
    .mat-form-field-infix {
      input,
      textarea {
        border-color: $error-color;
      }
    }
  }
}
.mat-form-field.mat-focused {
  input,
  textarea {
    border-color: $color-primary;
  }
}

textarea.mat-input-element {
  margin: 0 !important;
}

.mat-form-field-label {
  transform: translateY(14px) translateX(14px) scale(1) !important;
}
.mat-form-field-should-float {
  .mat-form-field-label {
    transform: translateY(-18px) translateX(0) scale(0.8671) !important;
    left: 0 !important;
    color: $text-color-primary;
  }
}

.mat-form-field.has-icon {
  .mat-form-field-infix {
    input {
      padding-right: 48px;
    }
  }
}

/* Checkbox */
.mat-checkbox {
  width: 100%;
  display: block;

  .mat-checkbox-layout {
    white-space: pre-wrap;
    align-items: flex-start;
  }

  .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 8px;
    margin-top: 2px;
  }
  .mat-checkbox-frame {
    border-radius: $border-radius-secondary;
    border-width: 1px;
  }
  .mat-checkbox-background {
    border-radius: $border-radius-secondary;
  }
}

/* Select */

.mat-select {
  border: 1px solid $text-color-primary;
  border-radius: $border-radius-secondary;
  transition: $transition-1;

  .mat-select-trigger {
    padding: 12px 14px !important;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
  }
}

.mat-form-field {
  &.ng-touched.ng-invalid {
    .mat-select {
      border-color: $error-color;
    }
  }
}

.mat-focused {
  .mat-select {
    border-color: $color-primary;
  }
}

.mat-select-panel {
  box-shadow: $normal-shadow !important;
  border-radius: $border-radius-secondary !important;
}

.mat-select-value {
  color: $text-color-primary;
}

.mat-option-text {
  color: $text-color-primary;
}

.mat-option {
  border-bottom: 1px solid $divider-color;
  user-select: none;
}

.mat-option.mat-active:not(:hover) {
  background: white !important;
}
.mat-option.mat-active:hover {
  background: rgba(0, 0, 0, 0.04) !important;
}
