@import '~@angular/material/theming';

$app-primary-palette: (
  500: #91b62a,
  700: #819e28,
  900: #6c8329,
  contrast: (
    100: $light-primary-text,
    500: $light-primary-text,
    900: $light-primary-text,
  ),
);

$app-secondary-palette: (
  500: #91b62a,
  700: #819e28,
  900: #6c8329,
  contrast: (
    100: $light-primary-text,
    500: $light-primary-text,
    900: $light-primary-text,
  ),
);
