@import '../../../styles/variables';

.mat-snack-bar-container {
  background-color: $color-primary;
  border-radius: $border-radius-primary !important;
  padding: 16px 24px !important;
  color: white;
  max-width: 715px !important;
  width: 715px;
  box-shadow: $normal-shadow !important;
  .mat-simple-snackbar-action button {
    max-height: unset;
    color: white;
    .mat-button-wrapper {
      padding: 8px 4px;
    }
  }
}
