@import '../../../styles/variables';

.loading {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.tasks__container {
  margin-bottom: 64px;
  &:last-child {
    margin-bottom: 0;
  }
}

.tasks__orders {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  @media (max-width: $bp-xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: $bp-md) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $bp-sm) {
    grid-template-columns: 1fr;
  }

  .mat-card {
    transition: $transition-1;
    cursor: pointer;
    box-shadow: $small-shadow;
    &:hover {
      box-shadow: $big-shadow;
    }
    span {
      display: block;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .tasks__order-type {
      margin-bottom: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .tasks__order-status {
      margin-bottom: 16px;
      font-style: italic;
    }
  }
}
