<div class="cabinet-header">
  <h1>Мои задачи</h1>
</div>

<div class="cabinet-content">
  <div class="loading" *ngIf="tasksAreFetching">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <ng-container
    *ngIf="
      !tasksAreFetching &&
      (user?.role === employeeRole.clientManager ||
        user?.role === employeeRole.admin ||
        user?.role === employeeRole.head)
    "
  >
    <div class="tasks__container" *ngIf="tasksNew?.length > 0">
      <h2 class="yellow-text">Новые</h2>

      <div class="tasks__orders">
        <div class="tasks__order" *ngFor="let task of tasksNew">
          <mat-card [routerLink]="['../', 'orders', task._id]">
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </div>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithRawStatus?.length > 0">
      <h2 class="yellow-text">Необработанные</h2>

      <div class="tasks__orders">
        <div class="tasks__order" *ngFor="let task of tasksWithRawStatus">
          <mat-card [routerLink]="['../', 'orders', task._id]">
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </div>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithInProgressStatus?.length > 0">
      <h2 class="blue-text">В работе</h2>

      <div class="tasks__orders">
        <div
          class="tasks__order"
          *ngFor="let task of tasksWithInProgressStatus"
        >
          <mat-card [routerLink]="['../', 'orders', task._id]">
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-status">{{
              orderStatusStrings[task.status]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </div>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithCompletedStatus?.length > 0">
      <h2 class="green-text">Недавно завершённые</h2>

      <div class="tasks__orders">
        <div class="tasks__order" *ngFor="let task of tasksWithCompletedStatus">
          <mat-card [routerLink]="['../', 'orders', task._id]">
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </div>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithRefusedStatus?.length > 0">
      <h2 class="red-text">Недавно отменённые</h2>

      <div class="tasks__orders">
        <div class="tasks__order" *ngFor="let task of tasksWithRefusedStatus">
          <mat-card [routerLink]="['../', 'orders', task._id]">
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-status">{{
              orderStatusStrings[task.status]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
