<div class="cabinet-header">
  <h1>Мои задачи</h1>
</div>

<div class="cabinet-content">
  <div class="loading" *ngIf="tasksAreFetching">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <ng-container
    *ngIf="
      !tasksAreFetching &&
      (((user?.role === employeeRole.clientManager ||
        user?.role === employeeRole.admin ||
        user?.role === employeeRole.head) &&
        tasksNew.length === 0 &&
        tasksWithRawStatus.length === 0 &&
        tasksWithInProgressStatus.length === 0) ||
        (user?.role === employeeRole.driver &&
          tasksNew.length === 0 &&
          tasksToDelivery.length === 0 &&
          tasksWithInTransitStatus.length === 0) ||
        (user?.role === employeeRole.receivingManager &&
          tasksNew.length === 0 &&
          tasksWithDeliveredStatusAndCurrentDivision.length === 0))
    "
  >
    <mat-card class="no-tasks">
      <div
        class="icon"
        [inlineSVG]="'../../assets/icons/happy-earth.svg'"
      ></div>
      <div class="content">
        <h2>Задачи выполнены!</h2>
        <p>
          Вы молодец! С каждой выполненной задачей мы делаем планету чище :)
        </p>
      </div>
    </mat-card>

    <br /><br />
  </ng-container>

  <ng-container
    *ngIf="
      !tasksAreFetching &&
      (user?.role === employeeRole.clientManager ||
        user?.role === employeeRole.admin ||
        user?.role === employeeRole.head)
    "
  >
    <div class="tasks__container" *ngIf="tasksNew?.length > 0">
      <h2 class="yellow-text">Новые</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksNew"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithRawStatus?.length > 0">
      <h2 class="yellow-text">Необработанные</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithRawStatus"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithInProgressStatus?.length > 0">
      <h2 class="blue-text">В работе</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithInProgressStatus"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-status">{{
              orderStatusStrings[task.status]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!tasksAreFetching && user?.role === employeeRole.driver">
    <div class="tasks__container" *ngIf="tasksNew?.length > 0">
      <h2 class="yellow-text">Новые</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksNew"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksToDelivery?.length > 0">
      <h2 class="yellow-text">Взятые в работу</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksToDelivery"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithInTransitStatus?.length > 0">
      <h2 class="blue-text">В пути</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithInTransitStatus"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span
              class="tasks__order-deadline"
              [class.red-text]="getDate(task.deadline) <= dateNow"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithDeliveredStatus?.length > 0">
      <h2 class="blue-text">Доставлено</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithDeliveredStatus"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container
    *ngIf="!tasksAreFetching && user?.role === employeeRole.receivingManager"
  >
    <div class="tasks__container" *ngIf="tasksNew?.length > 0">
      <h2 class="yellow-text">Возможные</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksNew"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div
      class="tasks__container"
      *ngIf="tasksWithDeliveredStatusAndCurrentDivision?.length > 0"
    >
      <h2 class="blue-text">Доставлено</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithDeliveredStatusAndCurrentDivision"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>

    <div class="tasks__container" *ngIf="tasksWithWeighedStatus?.length > 0">
      <h2 class="green-text">Взвешенные</h2>

      <div class="tasks__orders">
        <a
          class="tasks__order"
          *ngFor="let task of tasksWithWeighedStatus"
          [routerLink]="['../', 'orders', task._id]"
        >
          <mat-card>
            <span class="tasks__order-type">{{
              orderTypeStrings[task.type]
            }}</span>
            <span class="tasks__order-name"
              >Имя: {{ task.customer.contactName }}</span
            >
            <span class="tasks__order-phone"
              >Телефон: {{ task.customer.contactPhone | phone }}</span
            >
            <span class="tasks__order-deadline"
              >Дедлайн: {{ task.deadline | date: 'dd.MM.yyyy - HH:mm' }}</span
            >
          </mat-card>
        </a>
      </div>
    </div>
  </ng-container>
</div>
