<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Оставить заявку</h1>

  <br />
  <br />

  <app-auth-notify></app-auth-notify>

  <br />
  <br />
  <br />
  <br />

  <div class="order-block">
    <app-select
      [control]="form.get('type')"
      fieldId="type"
      label="Я хочу..."
      [isRequired]="true"
      [options]="selectOrderTypeOptions"
      [errorMessages]="{ required: 'Обязательное поле' }"
    ></app-select>
  </div>

  <ng-container *ngIf="form.get('type').value">
    <div class="order-block">
      <h2>
        {{
          form.get('type').value === orderTypeEnum.recyclable + ''
            ? 'Сырье'
            : 'Отходы'
        }}
      </h2>

      <app-select
        *ngIf="form.get('type').value === orderTypeEnum.recyclable + ''"
        [control]="form.get('rawType')"
        fieldId="rawType"
        label="Тип"
        [isRequired]="true"
        [isMultiple]="true"
        [options]="selectRawTypeOptions"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>

      <div class="field-spacer"></div>

      <div
        class="combined-fields"
        *ngIf="form.get('type').value === orderTypeEnum.recyclable + ''"
      >
        <app-text-input
          [control]="form.get('rawAmount')"
          fieldId="rawAmount"
          [label]="'Приблизительное количество'"
          [isRequired]="true"
          fieldType="number"
          [errorMessages]="{
            required: 'Обязательное поле',
            min: 'Не может быть меньше 1'
          }"
        ></app-text-input>

        <app-select
          *ngIf="form.get('type').value === orderTypeEnum.recyclable + ''"
          [control]="form.get('rawAmountUnit')"
          fieldId="rawAmountUnit"
          [options]="selectRawUnitOptions"
          [errorMessages]="{ required: 'Обязательное поле' }"
        ></app-select>
      </div>

      <app-text-input
        *ngIf="form.get('type').value === orderTypeEnum.garbage + ''"
        [control]="form.get('rawAmount')"
        fieldId="rawAmount"
        [label]="'Приблизительное количество, куб.'"
        labelHint="Нужно, чтобы определить тип автомобиля"
        [isRequired]="true"
        fieldType="number"
        [errorMessages]="{
          required: 'Обязательное поле',
          min: 'Не может быть меньше 1'
        }"
      ></app-text-input>
    </div>

    <div class="order-block">
      <h2>
        {{
          form.get('type').value === orderTypeEnum.recyclable + ''
            ? 'Доставка'
            : 'Вывоз'
        }}
      </h2>

      <app-select
        *ngIf="form.get('type').value === orderTypeEnum.recyclable + ''"
        [control]="form.get('deliveryType')"
        fieldId="deliveryType"
        label="Тип доставки"
        [isRequired]="true"
        [options]="selectDeliveryTypeOptions"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>

      <div class="field-spacer"></div>

      <app-select
        [control]="form.get('deliveryAddressLocality')"
        fieldId="deliveryAddressLocality"
        label="Населённый пункт"
        [isRequired]="true"
        [options]="selectLocalitiesOptions"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>

      <ng-container
        *ngIf="
          form.get('type').value === orderTypeEnum.recyclable + '' &&
          form.get('deliveryType').value === deliveryTypeEnum.pickup + '' &&
          selectDivisionsOptions.length > 1
        "
      >
        <div class="field-spacer"></div>

        <app-select
          [control]="form.get('division')"
          fieldId="division"
          label="Пункт приёма"
          [isRequired]="true"
          [options]="selectDivisionsOptions"
          [errorMessages]="{ required: 'Обязательное поле' }"
        ></app-select>
        <!--        <small class="form-control-hint"><a>Показать на карте</a></small>-->
        <!--        <br />-->
      </ng-container>

      <div
        *ngIf="
          form.get('type').value === orderTypeEnum.recyclable + '' &&
          form.get('deliveryType').value === deliveryTypeEnum.pickup + '' &&
          selectDivisionsOptions.length === 1
        "
      >
        <div class="field-spacer"></div>
        <small>Адрес пункта приёма:</small>
        <br />
        <p>{{ selectDivisionsOptions[0].text }}</p>
        <!--        <small><a>Показать на карте</a></small>-->
      </div>

      <ng-container
        *ngIf="
          form.get('deliveryType').value === deliveryTypeEnum.company + '' ||
          form.get('type').value === orderTypeEnum.garbage + ''
        "
      >
        <div class="field-spacer"></div>

        <div class="combined-fields">
          <app-text-input
            [control]="form.get('deliveryAddressStreet')"
            fieldId="deliveryAddressStreet"
            label="Улица"
            [isRequired]="true"
            [errorMessages]="{ required: 'Обязательное поле' }"
          ></app-text-input>

          <app-text-input
            [control]="form.get('deliveryAddressHouse')"
            fieldId="deliveryAddressHouse"
            label="Дом"
            [isRequired]="true"
            [errorMessages]="{ required: 'Обязательное поле' }"
          ></app-text-input>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          form.get('deliveryType').value === deliveryTypeEnum.pickup + '' &&
          form.get('type').value === orderTypeEnum.recyclable + ''
        "
      >
        <div class="field-spacer"></div>

        <app-text-input
          [control]="form.get('deliveryCustomerCarNumber')"
          fieldId="deliveryCustomerCarNumber"
          label="Номер автомобиля"
          labelHint="Чтобы определить ваш автомобиль в пункте приёма"
          [isRequired]="true"
          [errorMessages]="{
            required: 'Обязательное поле',
            minlength: 'Слишком короткий номер'
          }"
        ></app-text-input>
      </ng-container>

      <div class="field-spacer"></div>

      <div class="combined-fields">
        <app-date-input
          [control]="form.get('desiredPickupDate')"
          fieldId="desiredPickupDate"
          [label]="
            form.get('deliveryType').value === deliveryTypeEnum.pickup + ''
              ? 'Предположительная дата приезда'
              : 'Желаемая дата вывоза'
          "
          [isRequired]="true"
          [minDate]="desiredPickupDateMinDate"
          [errorMessages]="{ required: 'Обязательное поле' }"
        ></app-date-input>

        <app-select
          [control]="form.get('desiredPickupTime')"
          fieldId="desiredPickupTime"
          label="Время"
          [isRequired]="true"
          [options]="selectTimeOptions"
          [errorMessages]="{ required: 'Обязательное поле' }"
        ></app-select>
      </div>

      <app-checkbox
        *ngIf="
          form.get('deliveryType').value === deliveryTypeEnum.company + '' ||
          form.get('type').value === orderTypeEnum.garbage + ''
        "
        [control]="form.get('hasAssistant')"
        fieldId="hasAssistant"
        label="Есть помошник?"
        labelHint="Поставьте галочку, если на месте будет человек, котрый поможет загрузить сырье"
      ></app-checkbox>
    </div>

    <div class="order-block">
      <h2>Заказчик</h2>

      <app-text-input
        [control]="form.get('customerOrganizationLegalName')"
        fieldId="customerOrganizationLegalName"
        label="Юридическое наиманование организации"
      ></app-text-input>

      <div class="field-spacer"></div>

      <app-text-input
        [control]="form.get('customerOrganizationActualName')"
        fieldId="customerOrganizationActualName"
        label="Фактическое наиманование организации"
      ></app-text-input>

      <div class="field-spacer"></div>

      <app-text-input
        [control]="form.get('customerContactName')"
        fieldId="customerContactName"
        label="Контактное лицо"
        [isRequired]="true"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-text-input>

      <div class="field-spacer"></div>

      <app-text-input
        [control]="form.get('customerContactPhone')"
        fieldId="customerContactPhone"
        label="Контактный телефон"
        mask="(000) 000-00-00"
        prefix="+7 "
        [isRequired]="true"
        [errorMessages]="{
          required: 'Обязательное поле',
          minlength: 'Слишком короткий номер телефона'
        }"
      ></app-text-input>
    </div>

    <div
      class="order-block"
      *ngIf="form.get('type').value === orderTypeEnum.recyclable + ''"
    >
      <h2>Вознаграждение</h2>

      <app-select
        [control]="form.get('paymentMethod')"
        fieldId="paymentMethod"
        label="Способ оплаты"
        [options]="selectPaymentMethodRecyclableOptions"
        [isRequired]="true"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>

      <div class="field-spacer"></div>

      <app-textarea
        *ngIf="
          form.get('paymentMethod').value === paymentMethodEnum.card + '' ||
          form.get('paymentMethod').value === paymentMethodEnum.nonCash + ''
        "
        [control]="form.get('paymentMethodData')"
        fieldId="paymentMethodData"
        label="Информация для платежа"
        labelHint="Номер карты или данные счёта, по которым мы сможем отправить вознаграждение"
        [isRequired]="true"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-textarea>
    </div>

    <div
      class="order-block"
      *ngIf="form.get('type').value === orderTypeEnum.garbage + ''"
    >
      <h2>Оплата</h2>

      <app-select
        [control]="form.get('paymentMethod')"
        fieldId="paymentMethod"
        label="Способ оплаты"
        [options]="selectPaymentMethodGarbageOptions"
        [isRequired]="true"
        [errorMessages]="{ required: 'Обязательное поле' }"
      ></app-select>
    </div>

    <div class="order-block">
      <h2>Комментарий</h2>

      <app-textarea
        [control]="form.get('comment')"
        fieldId="comment"
      ></app-textarea>
    </div>
  </ng-container>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    class="submit-button"
    [disabled]="isFetching"
  >
    Отправить
  </button>

  <p class="server-error" *ngIf="serverError !== null">
    <br />Ошибка сервера. Попробуйте оставить заявку позже или свяжитесь с нами
    по телефону.
  </p>

  <br />
  <br />

  <app-auth-notify></app-auth-notify>
</form>
