<div class="cabinet-header">
  <h1>Добавить автомобиль</h1>
</div>

<div class="cabinet-content">
  <a class="cabinet-content__backlink" (click)="goToPreviousPage()">← Назад</a>
  <div class="cabinet-content__grid">
    <form
      id="form1"
      [formGroup]="form1"
      (ngSubmit)="sendForm1()"
      class="cabinet-content__grid-item"
      [class.cabinet-content__grid-item_inactive]="activeForm < 1"
    >
      <mat-card>
        <h2>Основная информация</h2>

        <div class="cabinet-content__grid-item-form-content">
          <app-text-input
            label="Номер"
            [control]="form1.get('licensePlate')"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
          >
            <ng-container
              error
              *ngIf="form1.get('licensePlate')?.errors?.alreadyExists"
            >
              Такой
              <a [routerLink]="['../', alreadyExistId]">автомобиль</a>
              уже существует.
            </ng-container>
          </app-text-input>

          <br /><br />

          <app-select
            [label]="'Тип'"
            [control]="form1.get('type')"
            [options]="carTypeOptions"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
          ></app-select>

          <br /><br />

          <app-select
            [label]="'Принадлежность'"
            [control]="form1.get('isCorporate')"
            [options]="[
              { text: 'Корпоративный', value: '1' },
              { text: 'Частный', value: '0' }
            ]"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
          ></app-select>

          <br /><br />

          <app-text-input
            label="Вес, т"
            [control]="form1.get('weight')"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
            [fieldType]="'number'"
          ></app-text-input>
        </div>
      </mat-card>
      <div class="cabinet-content__grid-item-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [class.cabinet-content__grid-item-actions_hidden]="activeForm !== 1"
        >
          Далее
        </button>
      </div>
    </form>

    <form
      id="form2"
      [formGroup]="form2"
      (ngSubmit)="sendForm2()"
      class="cabinet-content__grid-item"
      [class.cabinet-content__grid-item_inactive]="activeForm < 2"
    >
      <mat-card>
        <h2>Месторасположение</h2>

        <div class="cabinet-content__grid-item-form-content">
          <app-select
            [label]="'Населённый пункт'"
            [control]="form2.get('locality')"
            [options]="localitiesOptions"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
          ></app-select>

          <br /><br />

          <app-select
            *ngIf="form2.get('locality').value && divisionsOptions.length > 1"
            [label]="'Подразделения'"
            [control]="form2.get('divisions')"
            [isMultiple]="true"
            [options]="divisionsOptions"
            [errorMessages]="{
              required: 'Обязательное поле'
            }"
          ></app-select>
          <div
            *ngIf="!form2.get('locality').value || divisionsOptions.length <= 1"
            class="cabinet-content__field-inactive"
          >
            <label>Подразделения</label>
            <p
              *ngIf="
                form2.get('locality').value && divisionsOptions.length === 1
              "
            >
              {{ divisionsOptions[0].text }}
            </p>
            <i
              *ngIf="form2.get('locality').value && divisionsOptions.length < 1"
              class="red-text"
            >
              Нет подразделений в этом населунном пункте
            </i>
            <i *ngIf="!form2.get('locality').value">
              Выберите населённый пункт
            </i>
          </div>
        </div>
      </mat-card>
    </form>
    <div class="clearfix"></div>
  </div>
  <div
    class="cabinet-content__actions"
    [class.cabinet-content__action_inactive]="activeForm < 2"
  >
    <button
      mat-raised-button
      color="primary"
      (click)="sendForm2()"
      [disabled]="isFetching"
    >
      Добавить
    </button>
  </div>
  <div *ngIf="serverError" class="cabinet-content__bottom-error">
    {{ serverError }}
  </div>
</div>
