@import '../../styles/variables';

:host {
  display: inline-block;
}

.question {
  width: 16px;
  transform: translateY(2px);
  cursor: pointer;

  span {
    transition: $transition-1;
    fill: $text-color-primary;

    &:hover {
      fill: $color-primary;
    }
  }
}
