<!-- Header -->
<div class="cabinet-header">
  <h1>Автомобиль{{ item ? ': ' + item.licensePlate : '' }}</h1>
  <div class="cabinet-header__actions">
    <button
      *ngIf="
        item &&
        item.status === carStatus.unavailable &&
        userEmployee &&
        (userEmployee.role === employeeRole.head ||
          userEmployee.role === employeeRole.admin)
      "
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      color="warn"
      (click)="isRemoveModalOpen = true"
    >
      Удалить
    </button>
  </div>
</div>

<!-- Content -->
<div class="cabinet-content">
  <!-- Error -->
  <app-item-not-found
    *ngIf="(getItemError || !item) && !itemIsFetching"
    title="Автомобиль исчез"
    description="К сожалению, этого автомобиля мы не нашли... Возможно, его сдали на вторсырьё :)"
  ></app-item-not-found>

  <!-- Content grid -->
  <div
    *ngIf="!getItemError && !updateItemError && !removeItemError"
    class="cabinet-content__grid"
  >
    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <!-- Status -->
        <mat-card class="cabinet-content__status-card">
          <div class="cabinet-content__field">
            <app-item-field-inactive-status
              *ngIf="activeField !== 'status'"
              [content]="carStatusStrings[item?.status]"
              [isFetching]="itemIsFetching"
              [color]="carStatusColors[item?.status]"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('status')"
            ></app-item-field-inactive-status>

            <div
              *ngIf="activeField === 'status'"
              (clickOutside)="
                removeActiveField('status', (item?.status || '') + '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Статус"
                  [options]="carStatusOptions"
                  [control]="form.get('status')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('status').value === (item?.status || '') + ''
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Основная информация</h2>

          <!-- ID -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="ID"
              [content]="item?._id"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'licensePlate'"
              label="Номер"
              [content]="item?.licensePlate"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('licensePlate')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'licensePlate'"
              (clickOutside)="
                removeActiveField('licensePlate', item?.licensePlate || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Номер"
                  [control]="form.get('licensePlate')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                >
                  <ng-container
                    error
                    *ngIf="form.get('licensePlate')?.errors?.alreadyExists"
                  >
                    Такой
                    <a [routerLink]="['../../', 'cars', alreadyExistId]"
                      >автомобиль</a
                    >
                    уже существует.
                  </ng-container>
                </app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('licensePlate').value === item?.licensePlate
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Type -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'type'"
              label="Тип"
              [content]="carTypeStrings[item?.type]"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('type')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'type'"
              (clickOutside)="
                removeActiveField('type', (item?.type || '') + '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Тип"
                  [options]="carTypeOptions"
                  [control]="form.get('type')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('type').value === (item?.type || '') + ''
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Is Corporate -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'isCorporate'"
              label="Принадлежность"
              [content]="
                item
                  ? item.isCorporate
                    ? 'Корпоративный'
                    : 'Частный'
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('isCorporate')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'isCorporate'"
              (clickOutside)="
                removeActiveField('isCorporate', item?.isCorporate ? '1' : '0')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Принадлежность"
                  [options]="[
                    { text: 'Корпоративный', value: '1' },
                    { text: 'Частный', value: '0' }
                  ]"
                  [control]="form.get('isCorporate')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('isCorporate').value ===
                    (item?.isCorporate ? '1' : '0')
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Weight -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'weight'"
              label="Вес, т"
              [content]="item?.weight.toString()"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('weight')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'weight'"
              (clickOutside)="removeActiveField('weight', item?.weight || '')"
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Вес, т"
                  [control]="form.get('weight')"
                  [fieldType]="'number'"
                  [errorMessages]="{
                    min: 'Не может быть меньше или равно 0'
                  }"
                ></app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('weight').value === item?.weight.toString()
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Местоположение</h2>

          <!-- Locality -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'locality'"
              label="Населённый пункт"
              [content]="item?.locality?.name"
              [linkArray]="['../../', 'localities', item?.locality?._id]"
              [isFetching]="itemIsFetching"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('locality')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'locality'"
              (clickOutside)="
                removeActiveField('locality', item?.locality?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Населённый пункт"
                  [control]="form.get('locality')"
                  [options]="localitiesOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('locality').value === item?.locality?._id
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Divisions -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              *ngIf="activeField !== 'divisions'"
              label="Подразделения"
              [list]="
                getters.getItemDivisionsFieldListElements(item?.divisions || [])
              "
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'divisions']"
              [moreLinkQueryParams]="{
                filter__cars: item?._id || '',
                page: 1 + ''
              }"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('divisions')"
            >
            </app-item-field-inactive-list>

            <div
              *ngIf="activeField === 'divisions'"
              (clickOutside)="
                removeActiveField(
                  'divisions',
                  getters.getDivisionsValuesArray(item?.divisions || [])
                )
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Подразделения"
                  [control]="form.get('divisions')"
                  [options]="divisionsOptions"
                  [isMultiple]="true"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('divisions').value ===
                    getters.getDivisionsValuesArray(item?.divisions || [])
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Водители</h2>

          <!-- Drivers -->
          <div class="cabinet-content__field" style="margin-top: -16px">
            <app-item-field-inactive-list
              *ngIf="activeField !== 'drivers'"
              [list]="
                getters.getItemEmployeesFieldListElements(item?.drivers || [])
              "
              [hint]="
                !item?.locality ||
                !item?.divisions ||
                item?.divisions?.length <= 0
                  ? 'Выберите населённый пункт и подразделение'
                  : undefined
              "
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'employees']"
              [moreLinkQueryParams]="{
                filter__cars: item?._id || '',
                page: 1 + ''
              }"
              [useEditButton]="
                userType === userTypeEnum.employee &&
                (userEmployee?.role === employeeRole.head ||
                  userEmployee?.role === employeeRole.admin)
              "
              (editClick)="setActiveField('drivers')"
            >
            </app-item-field-inactive-list>

            <div
              *ngIf="activeField === 'drivers'"
              (clickOutside)="
                removeActiveField(
                  'drivers',
                  getters.getEmployeesValuesArray(item?.drivers || [])
                )
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="&nbsp;"
                  [control]="form.get('drivers')"
                  [options]="employeesOptions"
                  [isMultiple]="true"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('drivers').value ===
                    getters.getEmployeesValuesArray(item?.drivers || [])
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>История</h2>

          <!-- Created At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Создано"
              [content]="item?.createdAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Updated At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Обновлено"
              [content]="item?.updatedAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<app-modal
  [isLoading]="itemIsRemoving"
  [isOpen]="isRemoveModalOpen"
  [resolveButtonText]="'Оставить в архиве'"
  [rejectButtonText]="'Удалить'"
  (action)="onRemoveModalAction($event)"
>
  Полностью удалять автомобиль лучше только в том случае, если вы добавили его
  случайно или по ошибке.
  <br />
  <br />
  Все связанные записи не смогут восстановить автомобиль автоматически, даже
  если новый номер будет идентичен.
</app-modal>
