<mat-form-field appearance="standard">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <textarea
    [formControl]="control"
    [id]="fieldId"
    autocomplete="off"
    matInput
    rows="4"
  ></textarea>

  <app-error-message
    *ngIf="control && control.touched"
    [errorMessage]="currentErrorMessage"
  >
    <ng-content select="[error]"></ng-content>
  </app-error-message>
</mat-form-field>
