<mat-form-field appearance="standard">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <textarea
    *ngIf="control"
    [formControl]="control"
    [id]="fieldId"
    autocomplete="off"
    matInput
    rows="4"
  ></textarea>

  <textarea
    *ngIf="!control"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    ngDefaultControl
    [id]="fieldId"
    autocomplete="off"
    matInput
    rows="4"
  ></textarea>

  <mat-hint *ngIf="currentErrorMessage && control && control.touched">{{
    currentErrorMessage
  }}</mat-hint>
</mat-form-field>
