<!-- Header -->
<div class="cabinet-header">
  <h1>Подразделение{{ item ? ': ' + item.name : '' }}</h1>
  <div class="cabinet-header__actions">
    <button
      *ngIf="item && item.status === simpleStatus.inactive"
      [disabled]="itemIsFetching || itemIsUpdating"
      mat-button
      color="warn"
      (click)="isRemoveModalOpen = true"
    >
      Удалить
    </button>
  </div>
</div>

<!-- Content -->
<div class="cabinet-content">
  <!-- Backlink -->
  <a class="cabinet-content__backlink" (click)="goToPreviousPage()"
    >← Список подразделений</a
  >

  <!-- Error -->
  <div
    *ngIf="getItemError || updateItemError || removeItemError"
    class="cabinet-content__top-error"
  >
    {{ getItemError || updateItemError || removeItemError }}
  </div>

  <!-- Content grid -->
  <div
    *ngIf="!getItemError && !updateItemError && !removeItemError"
    class="cabinet-content__grid"
  >
    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <!-- Status -->
        <mat-card class="cabinet-content__status-card">
          <div class="cabinet-content__field">
            <app-item-field-inactive-status
              *ngIf="activeField !== 'status'"
              [content]="statusString"
              [isFetching]="itemIsFetching"
              [color]="statusColor"
              (editClick)="setActiveField('status')"
            ></app-item-field-inactive-status>

            <div
              *ngIf="activeField === 'status'"
              (clickOutside)="
                removeActiveField('status', (item?.status || '') + '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Статус"
                  [options]="simpleStatusOptions"
                  [control]="form.get('status')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('status').value === (item?.status || '') + ''
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Основная информация</h2>

          <!-- ID -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="ID"
              [content]="item?._id"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Name -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'name'"
              label="Название"
              [content]="item?.name"
              [isFetching]="itemIsFetching"
              [useEditButton]="true"
              (editClick)="setActiveField('name')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'name'"
              (clickOutside)="removeActiveField('name', item?.name || '')"
              [delayClickOutsideInit]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Название"
                  [control]="form.get('name')"
                  [errorMessages]="{
                    required: 'Обязательное поле',
                    sameName: 'Новое название должно отличаться'
                  }"
                >
                  <ng-container
                    error
                    *ngIf="form.get('name')?.errors?.alreadyExists"
                  >
                    Такое
                    <a [routerLink]="['../../', 'divisions', alreadyExistId]"
                      >подразделение</a
                    >
                    уже существует.
                  </ng-container>
                </app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating || form.get('name').value === item?.name
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Cars -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              label="Автомобили"
              [list]="getItemCarsFieldListElements(item?.cars || [])"
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'cars']"
              [moreLinkQueryParams]="{
                filter__divisions: item?._id || '',
                page: 1 + ''
              }"
              [useAddButton]="true"
              [addLinkArray]="['../../', 'cars', 'add']"
              [addLinkQueryParams]="{
                locality: item?.locality?._id || '',
                division: item?._id || ''
              }"
            >
            </app-item-field-inactive-list>
          </div>

          <!-- Employees -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-list
              label="Сотрудники"
              [list]="getItemEmployeesFieldListElements(item?.employees || [])"
              [isFetching]="itemIsFetching"
              [moreLinkArray]="['../../', 'employees']"
              [moreLinkQueryParams]="{
                filter__divisions: item?._id || '',
                page: 1 + ''
              }"
              [useAddButton]="true"
              [addLinkArray]="['../../', 'employees', 'add']"
              [addLinkQueryParams]="{
                locality: item?.locality?._id || '',
                division: item?._id || ''
              }"
            >
            </app-item-field-inactive-list>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="cabinet-content__grid-column">
      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>Местоположение</h2>

          <!-- Locality -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'locality'"
              label="Населённый пункт"
              [content]="item?.locality?.name"
              [linkArray]="['../../', 'localities', item?.locality?._id]"
              [isFetching]="itemIsFetching"
              [useEditButton]="true"
              (editClick)="setActiveField('locality')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'locality'"
              (clickOutside)="
                removeActiveField('locality', item?.locality?._id || '')
              "
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-select
                  label="Населённый пункт"
                  [control]="form.get('locality')"
                  [options]="localitiesOptions"
                ></app-select>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating ||
                  form.get('locality').value === item?.locality?._id
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- Street -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'street'"
              label="Улица"
              [content]="item?.street"
              [isFetching]="itemIsFetching"
              [useEditButton]="true"
              (editClick)="setActiveField('street')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'street'"
              (clickOutside)="removeActiveField('street', item?.street || '')"
              [delayClickOutsideInit]="true"
              [exclude]="
                '.mat-select,.mat-select-panel,.mat-option,.cdk-overlay-container'
              "
              [excludeBeforeClick]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Улица"
                  [control]="form.get('street')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating || form.get('street').value === item?.street
                "
              ></app-item-field-save-button>
            </div>
          </div>

          <!-- House -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              *ngIf="activeField !== 'house'"
              label="Дом"
              [content]="item?.house"
              [isFetching]="itemIsFetching"
              [useEditButton]="true"
              (editClick)="setActiveField('house')"
            >
            </app-item-field-inactive-string>

            <div
              *ngIf="activeField === 'house'"
              (clickOutside)="removeActiveField('house', item?.house || '')"
              [delayClickOutsideInit]="true"
              class="cabinet-content__field-active"
            >
              <form [formGroup]="form" (ngSubmit)="update()">
                <app-text-input
                  label="Дом"
                  [control]="form.get('house')"
                  [errorMessages]="{
                    required: 'Обязательное поле'
                  }"
                ></app-text-input>
              </form>

              <app-item-field-save-button
                (update)="update()"
                [disable]="
                  itemIsUpdating || form.get('house').value === item?.house
                "
              ></app-item-field-save-button>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="cabinet-content__grid-item">
        <mat-card>
          <h2>История</h2>

          <!-- Created At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Создано"
              [content]="item?.createdAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>

          <!-- Updated At -->
          <div class="cabinet-content__field">
            <app-item-field-inactive-string
              label="Создано"
              [content]="item?.updatedAt | date: 'dd.MM.yyyy - HH:mm'"
              [isFetching]="itemIsFetching"
            >
            </app-item-field-inactive-string>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal
  [isLoading]="itemIsRemoving"
  [isOpen]="isRemoveModalOpen"
  [resolveButtonText]="'Оставить в архиве'"
  [rejectButtonText]="'Удалить'"
  (action)="onRemoveModalAction($event)"
>
  Полностью удалять подразделение лучше только в том случае, если вы добавили
  его случайно или по ошибке.
  <br />
  <br />
  Все связанные записи не смогут восстановить подразделение автоматически, даже
  если новое называние будет идентично.
</app-modal>
