<form [formGroup]="form" (submit)="submit()">
  <h1>{{ isEmployee ? 'Авторизация сотрудника' : 'Авторизация' }}</h1>
  <br />
  <br />

  <app-text-input
    [control]="form.get('email')"
    label="E-mail"
    [errorMessages]="{
      required: 'Обязательное поле',
      email: 'Некорретный e-mail'
    }"
  ></app-text-input>

  <app-text-input
    [control]="form.get('password')"
    label="Пароль"
    fieldType="password"
    [errorMessages]="{
      required: 'Обязательное поле',
      minlength: 'Пароль должен содержать не менее 6 символов'
    }"
  ></app-text-input>
  <small *ngIf="!isEmployee" class="form-control-hint"
    ><a [routerLink]="['/restore-password']">Забыли пароль?</a></small
  >

  <br />
  <br />

  <button
    type="submit"
    mat-raised-button
    color="primary"
    class="submit-button"
    [disabled]="isFetching"
  >
    Войти
  </button>

  <p class="server-error" *ngIf="serverError !== null">
    <br />{{ serverError }}
  </p>

  <ng-container *ngIf="!isEmployee">
    <br />
    <br />
    <small>
      Нет аккаунта? <a [routerLink]="['/sign-up']">Зарегистрируйтесь!</a>
      <br />
      Хочу просто <a [routerLink]="['/order']">оставить единоразовую заявку</a>.
    </small>
  </ng-container>
</form>
