<a
  class="menu-link"
  routerLinkActive="active"
  *ngIf="
    (isEmployee &&
      employeeRole !== undefined &&
      menuLink.employeesCanSee.includes(employeeRole)) ||
    (isEmployee === false && menuLink.clientCanSee === true)
  "
  [routerLink]="
    isEmployee ? ['/e', 'cabinet', menuLink.link] : ['/cabinet', menuLink.link]
  "
  (click)="closeFullscreenMenu()"
>
  <div class="menu-link__gradient"></div>
  <div class="menu-link__container">
    <div class="icon" [inlineSVG]="'../../' + menuLink.iconPath"></div>
    <p>{{ menuLink.title }}</p>
  </div>
</a>
