@import '../../styles/variables';

.cabinet-layout {
  position: relative;
}

.cabinet-layout__mobile-header {
  display: none;
  @media (max-width: $bp-lg) {
    display: block;
  }
}

.cabinet-layout__sidebar {
  width: 300px;
  position: fixed;
  height: 100%;
  @media (max-width: $bp-lg) {
    display: none;
  }
}

.cabinet-layout__content {
  padding-top: 92px;
  padding-bottom: 60px;
  padding-left: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  @media (max-width: $bp-lg) {
    padding-left: 0;
  }

  .container {
    max-width: 1300px;
    width: 100%;
    padding: 0 5vw;
  }
}

:host ::ng-deep .cabinet-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  @media (max-width: $bp-sm) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }

  h1 {
    max-width: 600px;
  }

  .cabinet-header__actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;

    > * {
      margin-left: 8px;
      margin-bottom: 4px;
    }

    @media (max-width: $bp-sm) {
      justify-content: flex-start;
      margin-top: 16px;
      > * {
        margin-left: 0;
        margin-right: 8px;
        margin-bottom: 4px;
      }
    }
  }
}

:host ::ng-deep .cabinet-content {
  margin-top: 32px;

  .cabinet-content__form {
    margin-bottom: 32px;
  }

  .cabinet-content__links {
    a {
      margin-right: 16px;
      padding: 8px 0;
      display: inline-block;
    }
  }

  .cabinet-content__form-content {
    max-width: 400px;
    width: 100%;
  }

  .cabinet-content__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    @media (max-width: 1250px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    .cabinet-content__grid-item {
      display: inline-block;
      margin-bottom: 24px;
      width: 100%;
      position: relative;
      z-index: 0;
      backface-visibility: hidden;
      box-sizing: border-box;
    }

    .cabinet-content__grid-item-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
    }

    .cabinet-content__grid-item_inactive {
      opacity: 0.5;

      * {
        cursor: default;
      }
      .cabinet-content__grid-item-overlay {
        display: block;
      }

      .cabinet-content__grid-item-form-content {
        display: none;
      }

      .mat-card h2 {
        margin-bottom: 0;
      }
    }

    .mat-card {
      padding: 40px;
      width: 100%;
      @media (max-width: $bp-sm) {
        padding: 20px;
      }

      h2 {
        margin-bottom: 24px;

        span {
          font-weight: normal;
        }
      }

      &.cabinet-content__status-card {
        h2 {
          margin-bottom: 0;
        }
        .cabinet-content__field-inactive-action {
          margin-top: -8px;
        }
      }
    }
  }

  .cabinet-content__grid-item-actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    > button {
      min-width: 200px;
    }
  }

  .cabinet-content__grid-item-actions_hidden {
    visibility: hidden;
  }

  .cabinet-content__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    position: relative;

    > button {
      margin: 4px;
      min-width: 200px;
    }
  }

  .cabinet-content__action-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .cabinet-content__action_inactive {
    display: none;
  }

  .cabinet-content__top-error {
    color: $error-color;
    margin-bottom: 16px;
  }

  .cabinet-content__bottom-error {
    color: $error-color;
    text-align: center;
    margin-top: 8px;
  }

  .cabinet-content__field {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      li {
        display: block;
        margin-bottom: 8px;
        position: relative;
        padding-left: 10px;

        &:before {
          content: ' ';
          width: 5px;
          height: 5px;
          position: absolute;
          left: 0;
          top: 8px;
          border-radius: 50%;
          background-color: $text-color-primary;
        }

        &.red-text {
          &:before {
            background-color: $error-color;
          }
          a {
            color: $error-color;
          }
        }

        &.yellow-text {
          &:before {
            background-color: $yellow-color;
          }
          a {
            color: $yellow-color;
          }
        }

        &.green-text {
          &:before {
            background-color: $green-color;
          }
          a {
            color: $green-color;
          }
        }
      }
    }
  }

  .cabinet-content__field-inactive {
    position: relative;
    padding-right: 40px;

    label {
      cursor: default;
      margin-bottom: 8px;
    }
  }

  .cabinet-content__field-inactive-action {
    position: absolute;
    top: 4px;
    right: 0;
  }

  .cabinet-content__field-active {
    position: relative;
    display: flex;
    width: 100%;

    > * {
      flex-grow: 1;
    }
  }

  .cabinet-content__field-active-action {
    flex-grow: 0;
    padding-top: 22px;
  }

  .cabinet-content__backlink {
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px 0;
    @media (max-width: $bp-lg) {
      display: none;
    }
  }
}
