<div class="cabinet-layout">
  <div class="cabinet-layout__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="cabinet-layout__mobile-header">
    <app-mobile-header [useBacklink]="useBacklink"></app-mobile-header>
  </div>
  <div class="cabinet-layout__fullscreen-menu">
    <app-fullscreen-menu></app-fullscreen-menu>
  </div>
  <div class="cabinet-layout__content">
    <div class="container router">
      <router-outlet></router-outlet>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <app-footer></app-footer>
    </div>
  </div>
</div>
