<div class="cabinet-header">
  <h1>Автомобили</h1>
  <div class="cabinet-header__actions">
    <button
      *ngIf="
        userEmployee &&
        (userEmployee.role === employeeRole.head ||
          userEmployee.role === employeeRole.admin)
      "
      mat-raised-button
      color="primary"
      [routerLink]="['add']"
    >
      Добавить новый
    </button>
  </div>
</div>

<div class="cabinet-content" [ngSwitch]="currentForm">
  <form
    *ngSwitchCase="'quick'"
    [formGroup]="quickSearchForm"
    class="cabinet-content__form cabinet-content__fast-search-form"
  >
    <div class="cabinet-content__form-content">
      <app-text-input
        [control]="quickSearchForm.get('search')"
        [placeholder]="'Быстрый поиск...'"
        [icon]="'search.svg'"
      ></app-text-input>
    </div>
    <div class="cabinet-content__links">
      <a (click)="setCurrentForm('advanced')">Расширенный поиск</a>
      <a (click)="resetRequest()">Сбросить фильтры</a>
    </div>
  </form>

  <form
    *ngSwitchCase="'advanced'"
    class="cabinet-content__form cabinet-content__advanced-search-form"
    [formGroup]="advancedSearchForm"
  >
    <div class="cabinet-content__form-content">
      <app-accordion title="Основные фильтры" [isOpenInitial]="true">
        <app-select
          [control]="advancedSearchForm.get('status')"
          label="Статус:"
          [options]="carStatusOptions"
          [isMultiple]="true"
        ></app-select>

        <app-select
          [control]="advancedSearchForm.get('type')"
          label="Тип:"
          [options]="carTypeOptions"
          [isMultiple]="true"
        ></app-select>

        <app-text-input
          [control]="advancedSearchForm.get('licensePlate')"
          label="Номерной знак содержит:"
        ></app-text-input>

        <app-number-from-to-input
          [control]="advancedSearchForm.get('weight')"
          label="Вес:"
        ></app-number-from-to-input>

        <app-select
          [control]="advancedSearchForm.get('isCorporate')"
          label="Принадлежность:"
          [options]="[
            { text: 'Корпоративный', value: 'true' },
            { text: 'Частный', value: 'false' }
          ]"
          [isMultiple]="true"
        ></app-select>
      </app-accordion>

      <app-accordion title="Компания" [isOpenInitial]="false">
        <app-select
          *ngIf="
            userEmployee?.role === employeeRole.head ||
            userEmployee?.role === employeeRole.admin
          "
          [control]="advancedSearchForm.get('localities')"
          label="Населённые пункты:"
          [options]="localitiesOptions"
          [isMultiple]="true"
        ></app-select>

        <app-select
          [control]="advancedSearchForm.get('divisions')"
          label="Подразделения:"
          [options]="divisionsOptions"
          [isMultiple]="true"
        ></app-select>

        <app-select
          [control]="advancedSearchForm.get('employees')"
          label="Водители:"
          [options]="employeesOptions"
          [isMultiple]="true"
        ></app-select>
      </app-accordion>

      <app-accordion title="История" [isOpenInitial]="false">
        <br />
        <h3>Дата создания</h3>
        <br />

        <app-date-time-input
          [control]="advancedSearchForm.get('createdAtFrom')"
          label="от:"
        ></app-date-time-input>

        <app-date-time-input
          [control]="advancedSearchForm.get('createdAtTo')"
          label="до:"
        ></app-date-time-input>

        <br />
        <h3>Дата обновления</h3>
        <br />

        <app-date-time-input
          [control]="advancedSearchForm.get('updatedAtFrom')"
          label="от:"
        ></app-date-time-input>

        <app-date-time-input
          [control]="advancedSearchForm.get('updatedAtTo')"
          label="до:"
        ></app-date-time-input>
      </app-accordion>
    </div>
    <div class="cabinet-content__links">
      <a (click)="setCurrentForm('quick')">Быстрый поиск</a>
      <a (click)="resetRequest()">Сбросить фильтры</a>
    </div>
  </form>

  <app-table
    [columnsData]="tableColumns"
    [data]="tableData"
    [columnsCanBeDisplayed]="columnsCanBeDisplayed"
    [displayedColumns]="displayedColumns"
    [sorting]="tableSorting"
    [pagination]="tablePagination"
    [isLoading]="isFetching"
    (display)="onTableDisplay($event)"
    (sort)="onTableSort($event)"
    (paginate)="onTablePaginate($event)"
    (itemClick)="onTableItemClick($event)"
  ></app-table>
</div>
