<mat-form-field appearance="standard">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <mat-select
    [formControl]="control"
    [multiple]="isMultiple"
    [id]="fieldId || ''"
  >
    <mat-option
      *ngFor="let option of options"
      [value]="option.value"
      [disabled]="
        shouldMultipleBeActiveAlLeast &&
        control.value.length <= shouldMultipleBeActiveAlLeast &&
        control.value.includes(option.value)
      "
    >
      {{ option.text }}
    </mat-option>
    <mat-option *ngIf="!options || options.length <= 0" [disabled]="true"
      ><i>Нет вариантов</i></mat-option
    >
  </mat-select>

  <mat-hint *ngIf="currentErrorMessage && control && control.touched">{{
    currentErrorMessage
  }}</mat-hint>
</mat-form-field>
