<mat-form-field appearance="standard" *ngIf="control">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <mat-select [formControl]="control" [multiple]="isMultiple" [id]="fieldId">
    <mat-option
      *ngFor="let option of options"
      [value]="option.value"
      [disabled]="
        isMultiple &&
        control.value &&
        control.value.includes(option.value) &&
        shouldMultipleBeActiveAlLeast &&
        control.value.length <= shouldMultipleBeActiveAlLeast
      "
    >
      {{ option.text }}
    </mat-option>
  </mat-select>

  <mat-hint *ngIf="currentErrorMessage && control && control.touched">{{
    currentErrorMessage
  }}</mat-hint>
</mat-form-field>

<mat-form-field appearance="standard" *ngIf="!control">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <mat-select
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    ngDefaultControl
    [multiple]="isMultiple"
    [id]="fieldId"
  >
    <mat-option
      *ngFor="let option of options"
      [value]="option.value"
      [disabled]="
        isMultiple &&
        value &&
        value.includes(option.value) &&
        shouldMultipleBeActiveAlLeast &&
        value.length <= shouldMultipleBeActiveAlLeast
      "
    >
      {{ option.text }}
    </mat-option>
  </mat-select>
</mat-form-field>
