<ng-container [ngSwitch]="currentForm">
  <form *ngSwitchCase="1" [formGroup]="form1" (submit)="submit1()">
    <h1>Восстановить пароль</h1>
    <br />
    <br />

    <app-text-input
      [control]="form1.get('email')"
      label="E-mail"
      [errorMessages]="{
        required: 'Обязательное поле',
        email: 'Некорретный e-mail'
      }"
    ></app-text-input>

    <br />
    <br />

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="submit-button"
    >
      Отправить код
    </button>

    <br />
    <br />
    <small>
      <a [routerLink]="['/login']">Назад к авторизации</a>
    </small>
  </form>

  <form *ngSwitchCase="2" [formGroup]="form2" (submit)="submit2()">
    <h1>Восстановить пароль</h1>
    <br />
    <br />

    <app-text-input
      [control]="form2.get('code')"
      label="Код из e-mail"
      [errorMessages]="{
        required: 'Обязательное поле',
        minlength: 'Код должен состоять из 4-х символов',
        maxlength: 'Код должен состоять из 4-х символов'
      }"
    ></app-text-input>

    <br />
    <br />

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="submit-button"
    >
      Подтвердить
    </button>

    <br />
    <br />
    <small>
      <a (click)="currentForm = 1">Повторно ввести e-mail</a>
    </small>
  </form>

  <form *ngSwitchCase="3" [formGroup]="form3" (submit)="submit3()">
    <h1>Восстановить пароль</h1>
    <br />
    <br />

    <app-text-input
      [control]="form3.get('password')"
      label="Пароль"
      fieldType="password"
      [errorMessages]="{
        required: 'Обязательное поле',
        minlength: 'Пароль должен содержать не менее 6 символов'
      }"
    ></app-text-input>

    <app-text-input
      [control]="form3.get('confirmPassword')"
      label="Повторите пароль"
      fieldType="password"
      [errorMessages]="{
        required: 'Обязательное поле',
        minlength: 'Пароль должен содержать не менее 6 символов'
      }"
    ></app-text-input>

    <small
      *ngIf="
        form3.get('password').touched &&
        form3.get('confirmPassword').touched &&
        form3.errors &&
        form3.errors.passwordNotMatch
      "
      class="form-control-hint error"
      >Пароли не совпадают</small
    >

    <br />
    <br />

    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="submit-button"
    >
      Сохранить
    </button>
  </form>
</ng-container>
