<form [formGroup]="form" (submit)="submit()">
  <h1>Восстановить пароль</h1>
  <br />
  <br />

  <app-text-input
    [control]="form.get('email')"
    label="E-mail"
    [errorMessages]="{
      required: 'Обязательное поле',
      email: 'Некорретный e-mail',
      notExists: 'Такого e-mail нет'
    }"
  ></app-text-input>

  <br />
  <br />

  <button
    type="submit"
    mat-raised-button
    color="primary"
    class="submit-button"
    [disabled]="isFetching"
  >
    Отправить новый пароль
  </button>

  <br />
  <br />

  <small
    >Мы пришлём на почту новый пароль. Зайдя в личный кабинет, вы сможете легко
    сменить его во вкладке "Профиль"</small
  >

  <br />
  <br />
  <small>
    <a [routerLink]="['/login']">Назад к авторизации</a>
  </small>
</form>
