<div class="cabinet-header">
  <h1>Добавить населённый пункт</h1>
</div>

<div class="cabinet-content">
  <a class="cabinet-content__backlink" (click)="goToPreviousPage()">← Назад</a>
  <div class="cabinet-content__grid">
    <form
      [formGroup]="form1Main"
      (ngSubmit)="sendForm1Main()"
      class="cabinet-content__grid-item"
      [class.cabinet-content__grid-item_inactive]="activeForm !== 1"
    >
      <div
        class="cabinet-content__grid-item-overlay"
        *ngIf="activeForm !== 1"
      ></div>
      <mat-card>
        <h2>Основная информация</h2>

        <app-text-input
          label="Название"
          [control]="form1Main.get('name')"
          [errorMessages]="{
            required: 'Обязательное поле',
            alreadyExists: 'Такое название уже существует'
          }"
        ></app-text-input>
      </mat-card>
      <!--      <div class="cabinet-content__grid-item-actions">-->
      <!--        <button-->
      <!--          mat-raised-button-->
      <!--          color="primary"-->
      <!--          type="submit"-->
      <!--          [class.cabinet-content__grid-item-actions_hidden]="activeForm !== 1"-->
      <!--        >Далее-->
      <!--        </button>-->
      <!--      </div>-->
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="cabinet-content__actions">
    <button
      mat-raised-button
      color="primary"
      (click)="sendForm1Main()"
      *ngIf="activeForm === 1"
      [disabled]="isFetching"
    >
      Добавить
    </button>
  </div>
  <div *ngIf="serverError" class="cabinet-content__error">
    {{ serverError }}
  </div>
</div>
