<div class="container">
  <div class="simple-layout-grid">
    <div class="simple-layout-grid__content">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
    <div class="simple-layout-grid__company-container">
      <div class="simple-layout-grid__company">
        <img
          src="../../../assets/images/logo.png"
          alt='Логотип "Чистая планета"'
        />
        <h3 class="employee-definer" *ngIf="isEmployee">
          Личный кабинет сотрудника
        </h3>
        <h3 class="h1">Чистая планета</h3>
        <strong>сохраним природу детям</strong>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
