<div class="sidebar">
  <div class="sidebar__company">
    <img src="../../../assets/images/logo.png" alt='Логотип "Чистая планета"' />
    <p class="employee-definer" *ngIf="userType === userTypeEnum.employee">
      Личный кабинет сотрудника
    </p>
    <h3>Чистая планета</h3>
    <strong>сохраним природу детям</strong>
  </div>
  <nav class="sidebar__menu-links">
    <div class="sidebar__main-menu-links">
      <app-menu-link
        *ngFor="let menuLink of menuLinksMain"
        [menuLink]="menuLink"
        [isEmployee]="userType === userTypeEnum.employee"
        [employeeRole]="
          userType === userTypeEnum.employee ? user?.role : undefined
        "
      ></app-menu-link>
    </div>
    <div class="sidebar__secondary-menu-links">
      <app-menu-link
        *ngFor="let menuLink of menuLinksSecondary"
        [menuLink]="menuLink"
        [isEmployee]="userType === userTypeEnum.employee"
        [employeeRole]="
          userType === userTypeEnum.employee ? user?.role : undefined
        "
      ></app-menu-link>
    </div>
  </nav>
</div>
