<mat-form-field
  appearance="standard"
  [ngClass]="{ 'has-icon': icon, disabled: disabled }"
>
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <div class="input-wrapper">
    <input
      [formControl]="control"
      [id]="fieldId"
      [type]="type"
      [placeholder]="placeholder"
      autocomplete="off"
      matInput
      [prefix]="prefix || ''"
      [mask]="mask"
      [dropSpecialCharacters]="maskDropSpecialCharacters"
      [attr.disabled]="disabled"
    />

    <span
      class="icon"
      *ngIf="icon && fieldType !== 'password'"
      [inlineSVG]="'../assets/icons/' + icon"
    ></span>

    <span
      class="icon"
      [inlineSVG]="
        type === 'password'
          ? '../assets/icons/show.svg'
          : '../assets/icons/hide.svg'
      "
      *ngIf="fieldType === 'password'"
      (click)="changePasswordFieldType()"
    ></span>
  </div>

  <app-error-message
    *ngIf="control && control.touched"
    [errorMessage]="currentErrorMessage"
  >
    <ng-content select="[error]"></ng-content>
  </app-error-message>
</mat-form-field>
