<mat-form-field appearance="standard" [class.mat-focused]="isDatepickerOpen">
  <label [for]="fieldId">
    {{ label }}
    <span class="required-field-star" *ngIf="isRequired">*</span>
    <app-question-hint
      *ngIf="labelHint"
      [description]="labelHint"
    ></app-question-hint>
  </label>

  <div class="input-wrapper" (click)="picker.open(); isDatepickerOpen = true">
    <input
      [formControl]="control"
      [id]="fieldId"
      [matDatepicker]="picker"
      autocomplete="off"
      matInput
      [min]="minDate"
      [max]="maxDate"
      [value]="control.value"
    />

    <mat-datepicker
      #picker
      disabled="false"
      (closed)="isDatepickerOpen = false"
    ></mat-datepicker>

    <span class="icon" [inlineSVG]="'../assets/icons/calendar.svg'"></span>
  </div>

  <mat-hint *ngIf="currentErrorMessage && control && control.touched">{{
    currentErrorMessage
  }}</mat-hint>
</mat-form-field>
