@import '../../styles/variables';

.accordion {
  .accordion-title {
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 16px 0;

    .icon {
      width: 12px;
      margin-right: 8px;
      transition: $transition-1;
      transform: rotate(0);
      fill: $text-color-primary;
    }

    p {
      font-weight: bold;
      display: block;
    }
  }

  .accordion-content {
    transition: $transition-1;
    overflow: hidden;
    max-height: 0;
  }

  &.isOpen {
    .accordion-content {
      max-height: 1500px;
    }
    .accordion-title {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
