<div class="cabinet-header">
  <h1>Заявки</h1>
  <div class="cabinet-header__actions">
    <button mat-raised-button color="primary">Добавить новую</button>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<app-table
  [columnsData]="tableColumns"
  [data]="tableData"
  [displayedColumns]="displayedColumns"
  [sorting]="tableSorting"
  [filtration]="tableFiltration"
  [pagination]="tablePagination"
  [isLoading]="tableLoading"
  (display)="onTableDisplay($event)"
  (sort)="onTableSort($event)"
  (filter)="onTableFilter($event)"
  (paginate)="onTablePaginate($event)"
></app-table>
