@import '../../styles/variables';

.table-wrapper {
  box-shadow: $big-shadow;
  border-radius: $border-radius-primary;
  overflow: hidden;
  background-color: $card-background-color;
  position: relative;
}

.table-container {
  overflow-x: auto;
}

:host ::ng-deep .cell-header__container {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

:host ::ng-deep .cell-header__actions {
  display: flex;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 8px;

  button {
    margin-left: 4px;
    padding: 0;

    .icon {
      display: inline-block;
      fill: $color-primary;
      cursor: pointer;
      line-height: 1;
      transition: $transition-1;
    }
  }

  .cell-header__sorting-button {
    line-height: 12px;

    .icon {
      width: 15px;
      &.desc {
        transform: rotate(-180deg);
      }
    }
  }
}

:host ::ng-deep .cell__container {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

table {
  border-collapse: separate;
  width: 100%;

  thead {
    text-align: left;

    tr {
      th {
        background-color: $card-background-color-secondary;
        padding: 15px 20px;
        vertical-align: middle;
        white-space: nowrap;
        font-weight: normal;
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;
        width: auto;

        &:last-child {
          border-right: none;
        }

        &:first-child {
          left: 0;
          position: sticky;
          z-index: 1;
          width: 66px;
          @media (max-width: $bp-sm) {
            width: 30px;
            padding: 15px 8px;
          }

          button {
            line-height: 24px;
          }

          .icon {
            height: 24px;
            width: 24px;
            display: inline-block;
            fill: $color-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  tbody {
    text-align: left;

    tr {
      cursor: pointer;

      td {
        padding: 15px 20px;
        background-color: $card-background-color;
        transition: $transition-1;
        white-space: nowrap;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        &:last-child {
          border-right: none;
        }

        &:first-child {
          left: 0;
          position: sticky;
          z-index: 1;
          padding: 15px 8px;
        }

        .cell-container {
          max-width: 100px;
          overflow: hidden;
        }
      }

      &:hover {
        td {
          background-color: $hover-color;
        }
      }
    }
  }
}

.table__menu {
  padding: 8px 16px;
  .table__checkbox-container {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.table-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 2;
  background: repeating-linear-gradient(
    to right,
    lightgrey 0%,
    lightgrey 40%,
    white 50%,
    lightgrey 55%,
    lightgrey 100%
  );
  background-size: 200% auto;
  background-position: 0 100%;
  animation: table-backdrop-animation 1.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes table-backdrop-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
