<div class="table-wrapper">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>
            <div class="cell-header__container" style="text-align: center">
              <button
                mat-icon-button
                [matMenuTriggerFor]="tableSettings"
                [matTooltip]="'Отображать колонки'"
                [matTooltipPosition]="'above'"
              >
                <span
                  class="icon"
                  [inlineSVG]="
                    displayedColumns &&
                    displayedColumns.length === columnsCanBeDisplayed.length
                      ? '../assets/icons/settings.svg'
                      : '../assets/icons/settings-active.svg'
                  "
                ></span>
              </button>
              <mat-menu #tableSettings="matMenu">
                <form
                  class="table__menu"
                  (click)="$event.stopPropagation()"
                  [formGroup]="displayForm"
                >
                  <div
                    *ngFor="let column of columnsData"
                    class="table__checkbox-container"
                  >
                    <app-checkbox
                      [control]="displayForm.get(column.key)"
                      [label]="column.title"
                    ></app-checkbox>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="
                      displayedColumns &&
                      displayedColumns.length === columnsCanBeDisplayed.length
                    "
                    type="submit"
                    (click)="displayAll()"
                  >
                    Выбрать всё
                  </button>
                </form>
              </mat-menu>
            </div>
          </th>
          <th
            *ngIf="data === null || data.length <= 0; else mainTableHeaders"
          ></th>
          <ng-template #mainTableHeaders>
            <th *ngFor="let column of displayedColumns">
              <div class="cell-header__container">
                <div class="cell-header__text">
                  {{
                    findColumnInfo(column) ? findColumnInfo(column).title : ''
                  }}
                </div>
                <div class="cell-header__actions">
                  <button
                    *ngIf="findColumnInfo(column)?.isSorting === true"
                    (click)="onSort(column)"
                    mat-icon-button
                    class="cell-header__sorting-button"
                    [matTooltip]="'Сортировать'"
                    [matTooltipPosition]="'above'"
                  >
                    <span
                      class="icon"
                      [class.desc]="
                        sorting &&
                        sorting.field === column &&
                        sorting.type === 'desc'
                      "
                      [inlineSVG]="
                        (sorting && sorting.field !== column) || !sorting
                          ? '../assets/icons/sorting.svg'
                          : '../assets/icons/sorting-active.svg'
                      "
                    ></span>
                  </button>
                </div>
              </div>
            </th>
          </ng-template>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="data === null || data.length <= 0">
          <td></td>
          <td>
            {{
              data !== null
                ? 'К сожалению, по вашему запросу ничего не найдено'
                : ''
            }}
          </td>
        </tr>
        <ng-container *ngIf="data !== null">
          <tr *ngFor="let row of data; let i = index" (click)="onItemClick(i)">
            <td style="text-align: center">
              <div class="cell__container">{{ i + 1 }}</div>
            </td>
            <td *ngFor="let column of displayedColumns">
              <div
                class="cell__container"
                [style]="
                  columnsData[column]
                    ? 'width: ' + columnsData[column].width + 'px'
                    : undefined
                "
                [innerHTML]="row[column] || '-'"
              ></div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <mat-paginator
    *ngIf="pagination"
    [showFirstLastButtons]="true"
    [length]="pagination.totalItemsCount"
    [pageSize]="pagination.perPage"
    [pageIndex]="pagination.page - 1"
    [hidePageSize]="true"
    (page)="onPaginate($event)"
  ></mat-paginator>

  <div *ngIf="isLoading" class="table-loader"></div>
</div>
