<div class="table-wrapper">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>
            <div class="cell-header__container" style="text-align: center">
              <button
                mat-icon-button
                [matMenuTriggerFor]="tableSettings"
                [matTooltip]="'Отображать колонки'"
                [matTooltipPosition]="'above'"
              >
                <span
                  class="icon"
                  [inlineSVG]="
                    displayedColumns &&
                    displayedColumns.length === columnsCanBeDisplayed.length
                      ? '../assets/icons/settings.svg'
                      : '../assets/icons/settings-active.svg'
                  "
                ></span>
              </button>
              <mat-menu #tableSettings="matMenu">
                <div class="table__menu" (click)="$event.stopPropagation()">
                  <div
                    *ngFor="let column of columnsData"
                    class="table__checkbox-container"
                  >
                    <app-checkbox
                      [value]="
                        displayedColumns &&
                        displayedColumns.includes(column.key)
                      "
                      [disabled]="
                        displayedColumns &&
                        displayedColumns.includes(column.key) &&
                        displayedColumns.length <= 1
                      "
                      (valueChange)="
                        onDisplay({ field: column.key, status: $event })
                      "
                      [label]="column.title"
                    ></app-checkbox>
                  </div>
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="
                      displayedColumns &&
                      displayedColumns.length === columnsCanBeDisplayed.length
                    "
                    (click)="
                      onDisplay({
                        status: true,
                        all: true
                      })
                    "
                  >
                    Выбрать всё
                  </button>
                </div>
              </mat-menu>
            </div>
          </th>
          <th *ngFor="let column of displayedColumns">
            <div class="cell-header__container">
              <div class="cell-header__text">
                {{ findColumnInfo(column) ? findColumnInfo(column).title : '' }}
              </div>
              <div class="cell-header__actions">
                <button
                  (click)="onSort(column)"
                  mat-icon-button
                  class="cell-header__sorting-button"
                  [matTooltip]="'Сортировать'"
                  [matTooltipPosition]="'above'"
                >
                  <span
                    class="icon"
                    [class.desc]="
                      sorting &&
                      sorting.field === column &&
                      sorting.type === 'desc'
                    "
                    [inlineSVG]="
                      sorting && sorting.field !== column
                        ? '../assets/icons/sorting.svg'
                        : '../assets/icons/sorting-active.svg'
                    "
                  ></span>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of data; let i = index" (click)="onItemClick(i)">
          <td style="text-align: center">
            <div class="cell__container">{{ i + 1 }}</div>
          </td>
          <td *ngFor="let column of displayedColumns">
            <div
              class="cell__container"
              [style]="
                columnsData[column]
                  ? 'width: ' + columnsData[column].width + 'px'
                  : undefined
              "
              [innerHTML]="row[column] || '-'"
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <mat-paginator
    *ngIf="pagination"
    [showFirstLastButtons]="true"
    [length]="pagination.totalItemsCount"
    [pageSize]="pagination.perPage"
    [pageIndex]="pagination.currentPage"
    [hidePageSize]="true"
    (page)="onPaginate($event)"
  ></mat-paginator>

  <div *ngIf="isLoading" class="table-loader"></div>
</div>
